html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}



.sidebar {
  width: 250px; /* Fixed width for sidebar */
  position: fixed;
  top: 56px; /* The height of the navbar */
  bottom: 5%; /* Make sidebar stretch to the bottom */
  background-image: url('./Image/accident.jpg');
  background-size: cover; /* Resize the image to fit within the container */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-position: 30% 100%; /* Adjust position to align image */
  font-size: medium;
  z-index: 1000; /* Ensure the sidebar is above other elements */
}


.sidebar .nav-link:hover {
  background-color: #0400ff; /* Changes color on hover */
  text-decoration: none;
}

.sidebar .nav-item.active .nav-link {
  background-color: #0400ff; /* Active link color */
  font-weight: bold; /* Makes active link bold */
}

.main-content {
  margin-left: 250px; /* Aligns content next to the sidebar */
  margin-top: 50px;
  padding: 20px; /* Padding for the main content area */
  width:100%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

.main-content-incident-edit {
  margin-left:50px; /* Aligns content next to the sidebar */
  margin-top: 100px;
  padding:1px; /* Padding for the main content area */
  width:80%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

.main-content-hospital-edit {
  margin-left:50px; /* Aligns content next to the sidebar */
  margin-top: 100px;
  padding:1px; /* Padding for the main content area */
  width:80%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

.main-content-evacuation-center-edit{
  margin-left:50px;
  margin-top: 100px;
  width: 50%;
  background-color: #f8f9fa;
}

.main-content-lifeline-edit {
  margin-left:50px; /* Aligns content next to the sidebar */
  margin-top: 100px;
  padding:1px; /* Padding for the main content area */
  width:80%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

.main-content-incident,
.main-content-role-management,
.main-content-lifeline,
.main-content-hospital,
.main-content-evacuation-center,
.main-content-task {
  margin-top: 50px;
  padding: 20px; /* Padding for the main content area */
  width:100%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

.main-content-alerts{

  margin-top: 50px;
  padding: 20px; /* Padding for the main content area */
  width:100%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */

}

.main-content-damage-report{
  margin-top: 50px;
  padding: 20px; /* Padding for the main content area */
  width:100%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

.main-content-resources{

  margin-top: 50px;
  padding: 20px; /* Padding for the main content area */
  width:100%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

.main-content-chat{
  margin-top: 50px;
  padding: 20px; /* Padding for the main content area */
  width:100%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */

}

/* Ensure map-container does not overlap sidebar */
.map-container {
  margin-top: 50px;
  margin-left: 100px;
  padding: 20px; /* Padding for the main content area */
  width:80%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}

/* Optional: Ensure that map does not extend beyond container */
.map-container .leaflet-container {
  height: 50vh; /* Ensure height is responsive */
  width: 100%;
}

.main-content-resource-edit{

  margin-top: 50px;
  padding: 20px; /* Padding for the main content area */
  width:100%; /* Full width minus sidebar width */
  overflow-y: auto; /* Adds scroll to the content if it overflows */
  background-color: #f8f9fa; /* Light background color for main content */
}


